<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Lexend%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Galileo Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-slate-50 group/design-root overflow-x-hidden" style='font-family: Lexend, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#e7eef4] px-10 py-3">
          <div class="flex items-center gap-4 text-[#0d151c]">
            <div class="size-4">
                <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M44 11.2727C44 14.0109 39.8386 16.3957 33.69 17.6364C39.8386 18.877 44 21.2618 44 24C44 26.7382 39.8386 29.123 33.69 30.3636C39.8386 31.6043 44 33.9891 44 36.7273C44 40.7439 35.0457 44 24 44C12.9543 44 4 40.7439 4 36.7273C4 33.9891 8.16144 31.6043 14.31 30.3636C8.16144 29.123 4 26.7382 4 24C4 21.2618 8.16144 18.877 14.31 17.6364C8.16144 16.3957 4 14.0109 4 11.2727C4 7.25611 12.9543 4 24 4C35.0457 4 44 7.25611 44 11.2727Z" fill="currentColor"></path>
                </svg>
            </div>
            <h2 class="text-[#0d151c] text-lg font-bold leading-tight tracking-[-0.015em]">Ai Buddy</h2>
        </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-[#0d151c] text-sm font-medium leading-normal" href="{% url 'practitioner_dashboard' %}">Home</a>

              <a class="text-[#0d151c] text-sm font-medium leading-normal" href="{% url 'Courses' %}">Courses</a>
              <a class="text-[#0d151c] text-sm font-medium leading-normal" href="{% url 'studentsGrade' %}">Student Grades</a>
              
              <div class="relative">
                <button class="btn-getstarted dropdown-toggle" onclick="toggleDropdown()">Add</button>
                <div id="dropdownMenu" class="dropdown-menu absolute hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded-lg shadow-lg mt-1 m-0 bg-clip-padding border-none">
                    <li><a class="dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100" href="{% url 'add_recording' %}">add Courses</a></li>
                    <li><a class="dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100" href="{% url 'add_study_material' %}">add study material</a></li>
                    <li><a class="dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100" href="{% url 'newTest' %}">Add a New Test</a></li>

                  </div>
            </div>







              
              {% if user.is_authenticated %}
                        <form method="post" action="{% url 'logout' %}" class="text-[#0d151c] text-sm font-medium leading-normal">
                            {% csrf_token %}
                            <button style=" margin-top: 15px;"type="submit" class="text-[#0d151c] text-sm font-medium leading-normal">Logout</button>
                        </form>
                        {% else %}
                        <li><a class="text-[#0d151c] text-sm font-medium leading-normal" href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                        <li><a href="{% url 'change_password' %}" >Change Password</a></li>
            </div>
   
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col w-[512px] max-w-[512px] py-5 max-w-[960px] flex-1">
              <div class="relative flex size-full min-h-screen flex-col bg-slate-50 group/design-root overflow-x-hidden" style='font-family: Lexend, "Noto Sans", sans-serif;'>
                  <h2 class="text-[#0d151c] tracking-light text-[28px] font-bold leading-tight px-4 text-center pb-3 pt-5">Add Recording</h2>
                  <form method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="px-4 py-3">
                          <label class="flex flex-col min-w-40 flex-1">
                              <b class="text-[#0d151c] text-base font-medium leading-normal pb-2"><b>Title*</b></p>
                                {{ form.title }}
                                {% if form.title.errors %}
                                <div class="text-red-600">
                                    {{ form.title.errors }}
                                </div>
                                {% endif %}
                            </label>
                        </div>
                        <div class="px-4 py-3">
                          <label class="flex flex-col min-w-40 flex-1">
                              <p class="text-[#0d151c] text-base font-medium leading-normal pb-2"><b>Description</b></p>
                                {{ form.description }}
                            </label>
                        </div>
                        <div class="px-4 py-3">
                          <label class="flex flex-col min-w-40 flex-1">
                              <p class="text-[#0d151c] text-base font-medium leading-normal pb-2"><b>Recording*</b></p>
                                {{ form.confession }}
                                {% if form.confession.errors %}
                                <div class="text-red-600">
                                    {{ form.confession.errors }}
                                </div>
                                {% endif %}
                            </label>
                        </div>
                        <div class="flex px-4 py-3 justify-end">
                            <button type="submit" class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-12 px-5 bg-[#2094f3] text-slate-50 text-base font-bold leading-normal tracking-[0.015em]">
                                <span class="truncate">Upload</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  function toggleDropdown() {
      var dropdown = document.getElementById("dropdownMenu");
      dropdown.classList.toggle("hidden");
  }
  document.addEventListener("click", function(event) {
      var dropdownButton = document.querySelector(".dropdown-toggle");
      var dropdownMenu = document.getElementById("dropdownMenu");
      if (!dropdownButton.contains(event.target)) {
          dropdownMenu.classList.add("hidden");
      }
  });
</script>
</body>
</html>
